input, textarea, button, form, div, td, ul, li, p, a {
    text-align: justify;
}

img, a, *:focus {
    outline: none;
}

a {
    text-decoration: none;
}

body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background: #9AE1F5 url("../images/bg_blue.jpg") no-repeat fixed;
    width: 100%;

}

/* Whole portal position */
.content_center {
    margin: 25px auto;
    left: 50%;
    padding: 10px;
    background: url('../images/transparent_white.png');
    width: 1000px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /*-webkit-box-shadow: 0 0 15px #efefef;*/
    /*-moz-box-shadow: 0 0 15px #efefef;*/
    /*box-shadow: 0 0 15px #efefef;*/
}

/* Whole portal background and borders */
.content_center_inner {
    width: 1000px;
    background: #ffffff;
    padding-top: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.witty_banner {
    background: #efefef;
    width: 980px;
    margin-left: 10px;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;

}

h1.top_banner_title {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: "Lato", sans-serif;
    font-size: 31px;
    font-weight: 100;
}

p.subtitle {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-style: italic;
}

#menu_banner {
    left: 0;
    top: 0;
    width: 980px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    background: #424242 url('../images/menu_bg.png');
}

.title_button {
    margin-top: 30px;
    color: #e8f0de;
    background: #64A82B url('../images/title_button_bg.png');
    display: block;
    text-align: center;
    height: 30px;
    width: auto;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: 800;
    outline: medium none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    cursor: pointer;
    line-height: 30px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.title_divider {
    width: 1px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 70px;
    border-left: solid 1px #ccc;
    float: left;
}

.home-content {
    width: 980px;
    margin: 10px;
}

.page-header {
    margin-left: 10px;
}

.home-content h1, .page-header h1 {
    margin: 0;
    padding: 0;
    color: #424242;
    font-family: "Lato", sans-serif;
    font-size: 34px;
    font-weight: 300;
}

.home-content h2 {
    color: #424242;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.home-content {
    color: #424242;
    font-family: Arial;
    font-size: 14px;
}

.footer {
    padding-top: 17px;
    line-height: 18px;
    background: #efefef;
    width: 980px;
    text-align: center;
    margin: 5px 10px 10px 10px;;
    height: 60px;
    color: #424242;
    font-size: 12px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

.footer a {
    text-decoration: none;
    color: #424242;
    font-weight: bold;
    border-bottom: dashed 1px #424242;
}

#closeMobileViewBanner {
    font-family: Arial;
    top: 0;
    left: 0;
    width: 100%;
    height: 170px;
    background: #cfcfcf url("../images/home/mobile_view_bg.png");
    font-size: 50px;
    line-height: 170px;
    z-index: 1000;
}

.closeMobileViewBanner-text {
    margin-left: 50px;
    float: left;
}

.closeMobileViewBanner-text a {
    color: #424242;
    text-decoration: none;
}

.closeMobileViewBanner-button {
    width: 150px;
    height: 140px;
    float: right;
    padding-top: 30px;
}

