.welcome-border {
    position: absolute;
    width: 700px;
    height: 400px;
    background: url('../images/transparent_white.png');
    padding: 10px;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -200px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.welcome-content {
    width: 700px;
    height: 400px;
    background: url('../images/home/slides/slide_bg.jpg') -150px 0;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.welcome-logo {
    position: relative;
    top: 20px;
    left: 50%;
    margin-left: -107px;
    background: url('../images/welcome/wittypad-logo.png') no-repeat;
    width: 215px;
    height: 42px;

}

.welcome-button {
    width: 160px;
    height: 160px;
    border: solid 1px red;
    background: url('../images/transparent_white.png');
    float:left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 80px;

}

.welcome-button a {
    display: block;
    width: 160px;
    height: 160px;
}

.welcome-button-video {
    margin-left: 180px;
}

.welcome-button-video a {
    line-height: 160px;
}


.welcome-button-start {

}

.welcome-button-start a {

}

