.welcome-border {
    position: absolute;
    width: 400px;
    height: 400px;
    padding: 10px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
}

.welcome-content {
    width: 400px;
    height: 400px;
}

.welcome-logo {
    position: relative;
    top: 20px;
    left: 50%;
    margin-left: -107px;
    background: url('../images/welcome/wittypad-logo.png') no-repeat;
    width: 215px;
    height: 42px;

}

.welcome-button {
    width: 160px;
    height: 160px;
    background: url('../images/welcome/button_bg.jpg');
    float: left;
    margin-top: 80px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 4px -4px black;
    -moz-box-shadow: 0 10px 4px -4px black;
    box-shadow: 0 10px 4px -4px black;
    top: 30px;
}

.welcome-button a {
    display: block;
    width: 160px;
    height: 160px;
    color: #4d4d4d;
}

.welcome-button-video {
    position: absolute;
    left: 30px;
}

.welcome-button-video a {
    background: url('../images/welcome/play_video128.png') 16px 16px no-repeat;
}

.welcome-button-start {
    position: absolute;
    left: 230px;
}

.welcome-button-start a {
    background: url('../images/welcome/start_witty128.png') 16px 16px no-repeat;
}

.welcome-button-link {
    width: 160px;
    height: 30px;
    top: 280px;
}

.welcome-button-link-video {
    position: absolute;
    left: 30px;
}

.welcome-button-link a {
    display: block;
    width: 150px;
    height: 20px;
    line-height: 20px;
    color: white;
    background: url('../images/transparent_black.png');
    padding: 5px;
    text-align: center;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.welcome-button-link-start {
    position: absolute;
    left: 230px;
}

#welcome-content-open-link {
    position: absolute;
    top: 340px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
}