.error_tooltip {
    height: 30px;
    float: left;
    font-size: 10px;
}

.error_tooltip a {
    color: red;
}


.smart-wizard-container {
    width: 750px;
    height: 450px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -375px;
    margin-top: -250px;
    border: solid 5px #adff2f;
    -webkit-box-shadow: 0 0 15px #424242;
    -moz-box-shadow: 0 0 15px #424242;
    box-shadow: 0 0 15px #424242;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 12px;
}

.smart-wizard-content {
    width: 520px;
    padding-left: 150px;
    padding-right: 80px;
}

.smart-wizard-container label.ltitle {
    display: block;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.smart-wizard-content h1 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 26px;
    color: #2C85D6;
}

.wizard-form {
    margin-top: 25px;
    width: 520px;
    font-size: 16px;

}

input.form-input {
    padding: 3px;
    float: left;
    font-size: 16px;
    width: 300px;
    height: 30px;
    background: #E2F1FE;
    border: 1px solid #DBDBDB;
    /*margin-bottom: 20px;*/
}

textarea.form-input {
    padding: 3px;
    float: left;
    font-size: 16px;
    width: 500px;
    height: 90px;
    background: #E2F1FE;
    border: 1px solid #DBDBDB;
    /*margin-bottom: 20px;*/

}

.wizard-form .postfix {
    font-size: 16px;
    height: 30px;
    float: left;
    line-height: 30px;
    margin-left: 10px;
}

.wizard-form label {
    display: block;
    clear: both;
    font-size: 16px;

}

.step1-form {
}

/* Build-in css by plugin author */

.swMain {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    overflow: visible;
    float: left;
    width: 450px;
}

.swMain .stepContainer {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    height: 390px;
    width: 520px;
    overflow: hidden;
    clear: both;
}

.swMain .stepContainer div.content {
    position: absolute;
    float: left;
    display: block;
    margin: 0;
    padding: 5px;
    height: 390px;
    text-align: left;
    overflow: visible;
    z-index: 88;
    width: 520px;
    clear: both;
}

.swMain div.actionBar {
    margin-left: 90px;
    display: block;
    position: relative;
    clear: both;
    color: #5A5655;
    width: 500px;
    height: 40px;
    text-align: left;
    overflow: auto;
    z-index: 88;
}

.swMain .buttonNext {
    display: block;
    float: right;
    margin: 5px 3px 0 3px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    font: bold 13px Verdana, Arial, Helvetica, sans-serif;
    width: 100px;
    color: #FFF;
    outline-style: none;
    background-color: #64A82B;
    border: 1px solid #64A82B;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.swMain .buttonDisabled {
    color: #F8F8F8 !important;
    background-color: #CCCCCC !important;
    border: 1px solid #CCCCCC !important;
    cursor: text;
}

.swMain .buttonPrevious {
    display: block;
    float: right;
    margin: 5px 3px 0 3px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    font: bold 13px Verdana, Arial, Helvetica, sans-serif;
    width: 100px;
    color: #FFF;
    outline-style: none;
    background-color: #64A82B;
    border: 1px solid #64A82B;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.swMain .buttonFinish {
    display: block;
    float: right;
    margin: 5px 10px 0 3px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    font: bold 13px Verdana, Arial, Helvetica, sans-serif;
    width: 100px;
    color: #FFF;
    outline-style: none;
    background-color: #64A82B;
    border: 1px solid #64A82B;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/* Form Styles */

.swMain .loader {
    display: none;
}
